.section__hero {
  background-color: $backgroundColor;
  padding-top: 55px;
}
.hero {
  display: flex;
  align-items: center;

  &__main_img {
    @media screen and (max-width: $breakpoint992) {
        width: 500px;
      }
    @media screen and (max-width: $breakpoint768) {
      display: none;
    }
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    color: $mainColor;

    span {
      color: $secondaryColor;
    }
    @media screen and (max-width: $breakpoint992) {
        font-size: 32px;
      }
  }

  &__text {
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $mainColorLight;
   
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 35px;
    padding-top: 30px;
    &__video {
      display: flex;
      align-items: center;
      gap: 10px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;

      a {
        padding: 10px;
        background-color: white;
        border-radius: 50%;
        @media screen and (max-width: $breakpoint992) {
            padding: 5px;
          }
      }
    }
  }
}
