.section__howWorks {
  margin-top: 100px;

  @media screen and (max-width: $breakpoint1200) {
    margin-top: 80px;
    
}
@media screen and (max-width: $breakpoint992) {
    margin-top: 50px;
}

@media screen and (max-width: $breakpoint480) {
    margin-top: 20px;
}
}


.howWorks {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  @media screen and (max-width: $breakpoint1200) {
    align-items: center;
   
}
  @media screen and (max-width: $breakpoint992) {
    align-items: center;
    flex-direction: column
}

  &__small-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $secondaryColor;
  }

  &__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    color: $mainColor;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;

    &-step {
      &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: flex;
        align-items: center;
        max-width: 100%;
        height: 60px;
        padding: 15px;
        background-color: $backgroundColor;
        border-radius: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 50px;
        overflow: hidden;
        &:hover {
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }

      &:hover {
        &-container {
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
        }

        .tab {
          height: 75px;
        }
        img {
          transform: rotate(180deg);
        }
      }
      img {
        transition: 0.3s;
      }
    }
  }
  &__main_img{
    @media screen and (max-width: $breakpoint1200) {
        width: 450px;
  }
  
@media screen and (max-width: $breakpoint480) {
    width: 300px;
}

}
  
}

.stepNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 6px;
  background-color: #f3e0ff;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
  padding-right: 15px;
  width: 100%;
  height: 0px;
  background-color: $backgroundColor;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
  transition: 0.2s;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: $mainColorLight;
}

.number1 {
  color: #9444c9;
  background-color: #f3e0ff;
}
.number2 {
  color: #626FFF;
  background-color: #E7E9FE;
}
.number3 {
  color: #FF5C00;
  background-color: #FFDECC;
}
