.section__jobs {
  margin-top: 100px;

  @media screen and (max-width: $breakpoint1200) {
    margin-top: 80px;
  }
  @media screen and (max-width: $breakpoint992) {
    margin-top: 60px;
  }

  @media screen and (max-width: $breakpoint480) {
    margin-top: 30px;
  }
}

.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  @media screen and (max-width: $breakpoint992) {
    gap: 50px;
  }
  @media screen and (max-width: $breakpoint480) {
    gap: 25px;
  }

  &__selector {
    display: flex;
    align-items: center;

    // &-arrows {
    //   display: flex;
    //   gap: 20px;

    // }

    &-people {
      display: flex;
      gap: 60px;
      @media screen and (max-width: $breakpoint992) {
        flex-direction: column;
      }

      &-card {
        display: flex;
        width: 100%;

        position: relative;
        flex-direction: column;
        align-items: center;
        box-shadow: -1px 1px 20px rgba(128, 128, 128, 0.1);
        border-radius: 20px;
        padding: 50px 45px;
        transition: 0.3s;
        img {
          border-radius: 50%;
        }

        &:hover {
          transform: translateY(-10px);
          background-color: #f9faff;
        }

        @media screen and (max-width: $breakpoint1200) {
          padding: 35px 40px;
        }

        &-title {
          margin-top: 40px;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 50px;
          color: $mainColor;
        }
        &-team {
          margin-bottom: 30px;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          color: $btnColor;
        }
        &-buttons {
          margin-top: 30px;
          display: flex;
          gap: 30px;
        }
      }
    }
  }
}

.arrow {
  padding: 15px;
  background-color: #f9faff;
  border-radius: 7px;
  transition: 0.3s;

  &:hover {
    background-color: $secondaryColor;
    img {
      filter: brightness(0) invert(100%);
    }
  }

  &-right {
    transform: rotate(180deg);
  }
}

.dots {
  position: absolute;
  top: 40px;
  right: 40px;
}

.info {
  width: 100%;
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  h1 {
    font-weight: 600;
    font-size: 16px;
  }
  p {
    color: $mainColorLight;
    &:hover {
      color: $secondaryColor;
    }
  }
}

.btn-card {
  border-radius: 45px;
}

.favourite {
  padding: 15px;
  background-color: #f9faff;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
 
    
    &:active{
        transform: scale(70%);
    }
  }


.checked {
  background-color: $secondaryColor;
  img {
    filter: brightness(0) invert(100%);
  }
}
