.partners{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

@media screen and (max-width: $breakpoint768) {
  display: none;
}
    
    img{
        @media screen and (max-width: $breakpoint992) {
            transform: scale(75%);
          }
        
}}